@font-face {
  font-family: "Trade Gothic W01 Roman";
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Trade Gothic W01 Roman"), url("/assets/fonts/b1979d94-a178-4b03-b43d-c8e46562f107.woff2") format("woff2"),
    url("/assets/fonts/fd01e71e-6e70-4e12-b470-560c965b72b5.woff") format("woff");
}
@font-face {
  font-family: "Trade Gothic W01 Bold 2";
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Trade Gothic W01 Bold 2"), url("/assets/fonts/72b4a758-e36e-4c4f-a7bd-c9a6f0d4de92.woff2") format("woff2"),
    url("/assets/fonts/845fc7e1-e021-4aea-ad51-490304a07b67.woff") format("woff");
}
@font-face {
  font-family: "Trade Gothic W01 Light";
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Trade Gothic W01 Light"), url("/assets/fonts/94557603-6403-4571-a92e-e7dfa6bb6375.woff2") format("woff2"),
    url("/assets/fonts/e2ec6de9-6d7f-4b65-912b-4cbe6bb5d8f4.woff") format("woff");
}
// @font-face {
//   font-family: "Trade Gothic W01 Obl";
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local("Trade Gothic W01 Obl"), url("/assets/fonts/d3fc2ba4-9e4a-446c-afe0-071d42d280c5.woff2") format("woff2"),
//     url("/assets/fonts/77b10dc4-44ed-4ae5-91f8-e0e752a5a85d.woff") format("woff");
// }
// @font-face {
//   font-family: "TradeGothicW01-Bold2Obl";
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local("TradeGothicW01-Bold2Obl"), url("/assets/fonts/5a43f473-06b4-4658-a15f-27dddbfe5489.woff2") format("woff2"),
//     url("/assets/fonts/8fd571e0-8738-4862-ab4e-efce807af0ef.woff") format("woff");
// }
// @font-face {
//   font-family: "TradeGothicW01-LightObl";
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local("TradeGothicW01-LightObl"), url("/assets/fonts/c2a3b2ef-57ea-4e6d-8d55-ed1feaea4fc2.woff2") format("woff2"),
//     url("/assets/fonts/c448579a-d3f8-418d-b474-7842bc9bd36e.woff") format("woff");
// }
// @font-face {
//   font-family: "Trade Gothic W01 Bold";
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local("Trade Gothic W01 Bold"), url("/assets/fonts/f30d46d7-1e0a-4f6c-850b-a2fcce50d062.woff2") format("woff2"),
//     url("/assets/fonts/c77ae465-143a-4d5e-8749-aa66734c38f7.woff") format("woff");
// }
// @font-face {
//   font-family: "TradeGothicW01-BoldObl";
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local("TradeGothicW01-BoldObl"), url("/assets/fonts/7669e328-4e42-49fe-adf8-f126f82f6052.woff2") format("woff2"),
//     url("/assets/fonts/7e073583-186a-4fe0-95a1-0d053591c503.woff") format("woff");
// }
// @font-face {
//   font-family: "TradeGothicW02-BoldCn20 675505";
//   font-display: swap;
//   src: local("TradeGothicW02-BoldCn20 675505"), url("/assets/fonts/dae937ec-159f-4710-9b2d-9470e24807ba.woff2") format("woff2"),
//     url("/assets/fonts/c8856bf2-4d23-4e30-9fb1-eede15b787b6.woff") format("woff");
// }
// @font-face {
//   font-family: "Trade Gothic W01 Cn 18";
//   font-display: swap;
//   src: local("Trade Gothic W01 Cn 18"), url("/assets/fonts/b4cec8d7-7e57-426c-a825-08e25e81216e.woff2") format("woff2"),
//     url("/assets/fonts/e5e3cc61-fb5a-44cf-bc11-41054b3d489a.woff") format("woff");
// }
// @font-face {
//   font-family: "TradeGothicW01-BoldCn20 Obl";
//   font-display: swap;
//   src: local("TradeGothicW01-BoldCn20 Obl"), url("/assets/fonts/cb103bd0-d861-4d5f-bdfa-4f8a6e6c63ef.woff2") format("woff2"),
//     url("/assets/fonts/d9f56934-be66-4d47-bba8-4a20957c5472.woff") format("woff");
// }
